<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | All Clothing</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/allClothing.css'>
    <link rel = 'stylesheet' href = '/Stylesheets/productBox.css'>

</head>
<body>
    
    <%- include('partials/header')%>

    <main>
       <h1>All Clothing</h1>

       <div id = 'filterBox'>
            <label id = 'filterLabel' for='categoryFilter'>Filter By Category:</label>
            <div>
                <select name = 'categoryFilter' id = 'categoryFilter'>
                    <option value = 'allClothing'>All Clothing</option>
                    <option value = 'tops'>Tops</option>
                    <option value = 'pantsAndDresses'>Pants & Dresses</option>
                    <option value = 'outerwear'>Outerwear</option>
                    <option value = 'shoes'>Shoes</option>
                </select>
                <img id = 'filterIcon' src = "/Assets/icons/roundedArrow_primaryBrandColor.svg"/>
            </div>
       </div>

       <div id = 'allProductsBox'>
           <% for (let product of allProducts) { %>
                <a class = 'productBox <%= product.category%>' href = '/products/<%= product.name%>'>
                    <img class = 'productImgs' src =<%= product.imgs.img1 %> >
                    <div class= 'productLabels'>
                        <p class = 'productNames'> <%= product.name %> </p>
                        <p class = 'priceLabels'> $<%= product.price %> </p>
                    </div>
                </a>
           <% } %>
       </div>
    </main>

    <%- include('partials/footer')%>
    <script src = '/JavaScript/filtering.js'></script>
</body>
</html>