<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | <%= pageTitle %></title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/categoryPage.css'>
    <link rel = 'stylesheet' href = '/Stylesheets/productBox.css'>
</head>
<body>
    
    <%- include('partials/header')%>

    <main>
        <p id = 'breadcrumbs'>
            <a href = '/allClothing'>All Clothing</a>
            &nbsp;>&nbsp;
            <span id = 'currLocation'><%= pageTitle %></span>
        </p>

        <h1><%= pageTitle %></h1>

        <div id = 'filteredBox'>
            <% for (let product of filteredProducts) { %>
                <a class = 'productBox <%= product.category%>' href = '/products/<%= product.name%>'>
                    <img class = 'productImgs' src =<%= product.imgs.img1 %> >
                    <div class= 'productLabels'>
                        <p class = 'productNames'> <%= product.name %> </p>
                        <p class = 'priceLabels'> $<%= product.price %> </p>
                    </div>
                </a>
            <% } %>
        </div>
    </main>

    <%- include('partials/footer')%>
    <!-- <script src = '/JavaScript/productPage.js'></script> -->
</body>
</html>