<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | <%= pageTitle %></title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/categoryPageStylesheet.css'>
</head>
<body>
    
    <%- include('partials/header')%>

    <main>
        <p id = 'breadcrumbs'>
            <a href = '/products'>All Clothing &nbsp;</a>
            >&nbsp; <%= pageTitle %>
        </p>

        <h1><%= pageTitle %></h1>

        <div id = 'filteredBox'>
            <% for (let product of filteredProducts) { %>
                    <a class = 'productBox' href = '/products/<%= product.name%>'>
                        <img class = 'productImgs' src =<%= product.imgs.img1 %> >
                        <p class = 'productLabels'> <%= product.name %> </p>
                    </a>
            <% } %>
        </div>
    </main>

    <%- include('partials/footer')%>
    <!-- <script src = '/JavaScript/productPage.js'></script> -->
</body>
</html>