<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | <%= product.name %></title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/productPageStylesheet.css'>
</head>
<body>
    
    <%- include('partials/header')%>

    <main>
        <p id = 'breadcrumbs'>
            <a href = '/products'>All Clothing</a>
            &nbsp;>&nbsp;
            <a href = '/category/<%= product.category %>'><%= pageTitle %></a>
            &nbsp;>&nbsp;
            <span id = 'currLocation'><%= product.name %></span>
        </p>

        <h1 id = 'productName'> <%= product.name %> </h1>
        <div id = 'productBox'>

            <div id = carouselBox>
                <img class = 'scrollArrow' src = '/Assets/arrow.svg'>

                <div id = 'carousel'>
                    <img class = 'productImg' src = <%= product.imgs.img1 %>>
                    <img class = 'productImg' src = <%= product.imgs.img2 %>>
                    <img class = 'productImg' src = <%= product.imgs.img3 %>>
                </div>
                <img class = 'scrollArrow' src = '/Assets/arrow.svg'>
            </div>
           
            <p id = 'priceLabel'>$<span id = 'price'> <%= product.price %> </span></p>

            <div id = 'errorBoxBox'><p id = 'errorBox'>*Please choose a size!</p></div>

            <div id = 'sizeSelectionBox' class = 'selectionBox'>
                <p id = 'sizeLabel'>Size: </p>
                <label class = 'sizeLabels' for = 'XS'>XS</label>
                <input type = 'radio' id = 'XS' value = 'XS' name = 'size' class = 'sizeBtn'>
                
                <label class = 'sizeLabels' for = 'S'>S</label>
                <input type = 'radio' id = 'S' value = 'S' name = 'size' class = 'sizeBtn'>
                
                <label class = 'sizeLabels' for = 'M'>M</label>
                <input type = 'radio' id = 'M' value = 'M' name = 'size' class = 'sizeBtn'>
                
                <label class = 'sizeLabels' for = 'L'>L</label>
                <input type = 'radio' id = 'L' value = 'L' name = 'size' class = 'sizeBtn'>
                
                <label class = 'sizeLabels' for = 'XL'>XL</label>
                <input type = 'radio' id = 'XL' value = 'XL' name = 'size' class = 'sizeBtn'>
                
            </div>
            
            <button id = 'addToBag'>Add to Bag</button>

        </div>
    </main>

    <%- include('partials/footer')%>
    <script src = '/JavaScript/productPage.js'></script>
</body>
</html>