<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Search Results</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = '/Stylesheets/searchResults.css'>
</head>
<body>
    
    <%- include('partials/header')%>

    <main>
        <h1>Results for:&nbsp;<span id = 'query'><%=query%></span></h1>
        
        <div id = 'resultsBox'>
            <% if(allResults.length < 1){ %>
                <p id = 'noResults'>Sorry, no results found.</p>
            <% } else{ %>
                <% for (let product of allResults) { %>
                    <a class = 'productBox <%= product.category%>' href = '/products/<%= product.name%>'>
                        <img class = 'productImgs' src =<%= product.imgs.img1 %> >
                        <p class = 'productLabels'> <%= product.name %> </p>
                    </a>
                <% } %>
            <% } %>
        </div>

    </main>

    <%- include('partials/footer')%>
</body>
</html>