<!DOCTYPE html>
<html lang="en">
<head>
    <title>Luma | Your Bag</title>
    <%- include('partials/head')%>
    <link rel = 'stylesheet' href = 'Stylesheets/shoppingBagStylesheet.css'>
</head>

<body>
    <%- include('partials/header')%>
    <main>
        <h1>Your Bag</h1>
            <p id = 'noItemsMsg'>Looks like there's nothing here yet!</p>
            <p id = 'takeALook'>Why don't you <a href = '/products'>take a look around?</a></p>

            <% let totalSum = 0;%>
            <% for (let i = 0; i < bagItems.length; i++){ %>
            <div class = 'bagProductTile' data-itemname = '<%=bagItems[i].name%>' data-itemsize = '<%=bagItems[i].size%>' data-itemqty = '<%=bagItems[i].qty%>'>
                <img class = 'productImg' src = <%= bagItems[i].imgs.img1 %>>
                
                <h2 class = 'productTitle'><a href = '/products/<%=bagItems[i].name%>'><%= bagItems[i].name %></a></h2>
                
                <div class = 'info'>
                    <div class = 'sizeGroup'>
                        <p class = 'infoLabel'>Size: <span class = 'sizeSpan'><%=bagItems[i].size %></span></p>
                    </div>
    
                    <div class = 'qtyGroup'>
                        <label class = 'infoLabel'>Quantity: </label>
                        <select name = 'selector' class = 'qtySelector'>
                            <option value = '1' <%= bagItems[i].qty === '1' ? 'selected' : ''%> >1</option>
                            <option value = '2' <%= bagItems[i].qty === '2' ? 'selected' : ''%> >2</option>
                            <option value = '3' <%= bagItems[i].qty === '3' ? 'selected' : ''%> >3</option>
                            <option value = '4' <%= bagItems[i].qty === '4' ? 'selected' : ''%> >4</option>
                            <option value = '5' <%= bagItems[i].qty === '5' ? 'selected' : ''%> >5</option>
                        </select>
                    </div>
                </div>
                
                <div class = 'priceAndTrash'>
                    <p class = 'price' data-baseprice = <%=bagItems[i].price%> >$<span class = 'priceLabel'><%=bagItems[i].price * bagItems[i].qty%></span></p>
                    <img src = 'Assets/trashcanIcon.svg' class = 'trashcanIcon'>
                </div>
            </div>
        <% } %>

        <div id = 'checkOutBox'>
            <a id = 'checkOutBtn' href = '/checkout_yourInfo'>Check Out</a>
            <p id = 'totalParagraph'>Your Total: <span id = 'dollarSign'>$</span><span id = 'totalSum'>0.00</span></p>
        </div>
        
    </main>
    <script src = '/JavaScript/shoppingBag.js'></script>
    <%- include('partials/footer')%> 
</body>
</html>